.App {
  padding: 50px;
  width: 100%;
  max-width: 1200px;
}

/* h1 {
  font-family: 'Merriweather', serif;
} */


.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.photo {
  max-width: 470px;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.photo h4 {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

.photo:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

@media (max-width: 1000px) {
  .photo {
    width: 100%;
  }
}

.photo img {
  object-fit: cover;
}

.phot_size {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}


.top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.search-input {
  font-size: 16px;
  width: 250px;
  height: 50px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.15s ease-in-out;
}

.search-input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.pagination li {
  display: inline-block;
  padding: 10px 17px;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pagination li.active {
  background-color: black;
  color: #fff;
}